<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465536864751-l0g6tdnh0vs5g6bqhmnrirk4is6pn8mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465536864751-l0g6tdnh0vs5g6bqhmnrirk4is6pn8mp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>465536864751-dubf6mpoc4nf03pak3u5f8octbbgevsk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhnpALLQlM_d6rAjSEI81ZokgrvA9C8FI</string>
	<key>GCM_SENDER_ID</key>
	<string>465536864751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>react-tinder-34d54</string>
	<key>STORAGE_BUCKET</key>
	<string>react-tinder-34d54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465536864751:ios:8fe90cf865e24b5fc8661a</string>
</dict>
</plist>